:root{
--blue:  #0078D7;
--navy:  #002050;
--teal:  #008272;
--green: #107C10;
--yellow:  #FFB900;
--orange:  #D83B01;
--red:     #E81123;
--fuchsia: #B4009E;
--purple:  #5C2D91;

--white:  #FFFFFF;
--silver: #DDDDDD;
--gray:   #f0f0f0;
--black:  #1a1a1a;
}